*.o
*.la
*.lo
*.so
*.dll
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
config.h
config.h.in*
configure
depcomp
install-sh
libtool
testva
ltmain.sh
missing
.deps/
.dirstamp
stamp-h1
